@font-face{
    font-family: MyFont;
    src: url("fonts/SushiMoshi.ttf");
    font-style:italic;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', serif;
    background-color: #FF4500;
}
.banner{
    margin: 0px;
    padding: 0px;
}
.banner img{
    image-resolution: 2400dpi;
    width: 100%;
    height: 100%;
}
.nav{
    font-family:  MyFont;
    background-color: #EE4000;
    outline: 5px solid black;
    color: black;
    list-style: none;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
.nav > li {
    display: inline;
    padding: 0px 100px 0px 100px;
}
.nav > li > a {
    text-decoration: none;
    color: white;
}
.nav > li > a:hover{
    color: black;
    
}
}